body {
    background: white url("/misterx/static/img/background.png") no-repeat;
    background-size:100%;
    font-family: 'Carlito';

}

h1 {
    margin:20px;
}

button {
    border-radius: 3px;
    border: 1px solid gainsboro;
}
#container{
    margin:40px 35%;
    width: 500px;
    box-sizing: content-box;
    position: relative;
    border: 1px solid gainsboro;
    border-radius: 10px;
    background: #dddddd;
    padding: 10px;
}

input {
    border-radius: 3px;
    border: 1px solid gainsboro;
}
label{
    font-weight: bold;
    font-family: bold, "Carlito", serif;
}
p{
    width: 170px;
}
span{
    display: none;
    font-size: 13px;
}

/*navbar*/

ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}