<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% load i18n %}
		<meta charset="UTF-8">
		<title>Mister X</title>
		<link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}" />
		
	</head>
	<body>
		<h1>Mister X</h1>
		<ul class="navbar">
			<li class="navbar"><a class="active" href="/">{{ tag_home }}</a></li>
			<li class="navbar"><a href="/games">{{ tag_games }}</a></li>
			<li class="navbar"><a href="/accounts/profile">{{ tag_profile }}</a></li>
			{% if user.is_authenticated %}
			<li class="navbar"><a href="{% url 'account_logout' %}">{% trans "Log out"%}</a></li>
			{% else %}
			<li class="navbar"><a href="{% url 'account_login' %}">{% trans "Log in"%}</a></li>
			{% endif %}
		</ul>
		<div id="container">
			<p class='insideContainer'>Это главная страница игры</p>
			<script>
				function openRules(){
					window.open('/rules');
				}
				function openInstructions(){
					window.open('/specialActs');
				}
				function openShortRules(){
					window.open('/shortRules');
				}
			</script>
			<p class='insideContainer'>
				<input type='button' onclick='openRules()' value='Правила игры'>
				<input type='button' onclick='openInstructions()' value='Специальные действия'>
				<input type='button' onclick='openShortRules()' value='Полезная информация'>
			</p>

			<p> Контакты: <a href="mailto:mister.x.server22@gmail.com">mister.x.server22@gmail.com</a></p>
		</div>
	</body>
	
</html>
