table.gamers {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 0;
    width: 470px;
}

td.gamers {
    padding: 3px 7px;
    color: cadetblue;
    text-align: left;
    background-color: floralwhite;
    width: 150px;

}

td.status {
    padding: 3px 5px;
    color: cadetblue;
    text-align: center;
    background-color: floralwhite;
    width: 150px;
}

td.misterx {
    padding: 3px 5px;
    color: cadetblue;
    text-align: center;
    background-color: floralwhite;
    width: 150px;
}

