table.games {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 0;
    width 500px;
}

td.games {
    float: left;
    border: 1px solid #bbb;
    border-radius: 2px;
}
td.games a{
    display: block;
    color: #666;
    text-align: left;
    padding: 5px 16px;
    text-decoration: none;
    background-color: floralwhite;
    width: 400px;
}

td.games a:hover {
    background-color: #ddd;
}

td.games div.status_game {
    width: 10px;
    display: block;
    color: #666;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    background-color: floralwhit;
}

#create_game {
    color: green;
}