<!DOCTYPE html>
<html>
  <head>
		{% load i18n %}
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}" />
		<!-- FontAwesome -->
		<script src="https://kit.fontawesome.com/49d11f2271.js"></script>
    <meta charset="UTF-8">
  </head>
  <body>
    <ul class="navbar">
			<li class="navbar"><a href="/">{% trans "Home" %}</a></li>
			<li class="navbar"><a href="/games">{% trans "Игры" %}</a></li>
			<li class="navbar"><a href="/accounts/profile">{% trans "Профиль" %}</a></li>
			{% if user.is_authenticated %}
			<li class="navbar"><a class="active" href="{% url 'account_logout' %}">{% trans "Log out"%}</a></li>
			{% else %}
			<li class="navbar"><a class="active" href="{% url 'account_login' %}">{% trans "Log in"%}</a></li>
			{% endif %}
    </ul>
    {% block body %}
    <div id="container">
    <div class="second_div">
    {% block content %}
    {% endblock %}
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
