html {
	overflow-x: hidden;
}
body {
	background-color: #777;
}
h6.titleOfField {
	/* display: none; */
	border: 0px solid black;
	padding: 2px;
	margin: 0px;
	background-color: #aaa;
	text-align: center;
}
div.gameField {
	/* border: 1px solid #aaa; */
	background-color: #777;
	padding: 0px;
}
div.lowerRow {
	display: flex;
	align-items: center;
}
#stepsOfMisterx {
	/* height: 710px; */
	width: inherit;
}
#ticketsOfPlayer {
	padding-bottom: 5px;
	height: auto;
	width: inherit;
	margin: 0px;
}
#specialActs {
	height: 120px;
	width: inherit;
}
#fieldOfMap {
	height: 1185px;
	width: inherit;
}
#additionalTabs {
}
.additionalField {
	height: 574px;
	width: inherit;
	margin: 2px 10px;
	display: none;
}
#evidencesField {
	display: block;
	overflow-y: auto;
}
#roles {
	background-color: none;
	width: 25%;
}
#evidences {
	background-color: none;
	width: 25%;
}
#pathsOfPlayers {
	background-color: none;
	width: 25%;
}
#chat {
	width: 25%;
}
#statusBar {
	padding: 0px 5px;
	text-align: right;
	background-color: #777;
	color: #aaa;
}
.selector-for-some-widget {
	box-sizing: content-box;
}
.col-md-1 {
	padding-right: 0px;
	padding-left: 0px;
}
.col-md-2 {
	padding-right: 0px;
	padding-left: 0px;
}
.col-md-6 {
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-9 {
	padding-right: 0px;
	padding-left: 0px;
}
.userButtons {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	margin-top: 5px;
	width: 95%;
	height: 40px;
	font-size: 11pt;
	word-break: break-all;
}
#divButtons {
	width: 99%;
}
#evidencesTable {
	border: 3px;
	color: black;
	width: 90%;
}

table#evidencesTable th {
	padding-left: 5px;
}
table#evidencesTable td {
	padding-left: 5px;
}

#actHelp {
	float: left;
	width: 30%;
	padding: 10px;
}
#canvasSpecialAct {
	float: left;
}
.moveButtons {
	width: 30px;
	height: 50px;
	float: left;
	padding: 1px;
	margin: 3px;
	font-family: 'Font Awesome 5 Free';
	font-size: 11pt;
}

#moveAct {
	width: 30px;
	float: left;
}
ul.ticketsField {
	display: flex;
	align-items: baseline;
	justify-content: center;
	padding: 2px;
	margin: 0px;
}
li.ticketsLI {
	margin: 2px;
	list-style-type: none;
}
#divTickets {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
}

#divSpecialTickets {
	display: inline-block;
}

input {
	color: #000;
	text-decoration: none;
	user-select: none;
	padding: .5em 2em;
	outline: none;
	border: 2px solid;
	border-radius: 1px;
	border-color: #999;
	transition: 0.1s;
	background: #aaa
}
input:hover {
	background: rgba(255,255,255,.2);
}
input:active {
	background: white;
}
th {
	text-align: center;
}
td {
	text-align: center;
}
div#cancelDiv {
	border-left: 1px dashed #aaa;
}
.row {
	margin: 0px;
}
#specialButtonsDiv {
	display: grid;
	/* justify-content: center; */
	width: 100%;
}
.specialActButtons {
	margin-bottom: 5px;
	margin-top: 5px;
	width: 98%;
}

#specialMenu {
	position: absolute;
	top: 40%;
	bottom: 40%;
	left: 45%;
	right: 45%;
	background-color: gray;
	opacity: 80%;
	height: 20%;
	width: 10%;
	z-index: 1;
	padding: 0px;
	visibility: hidden;
}

#specialMenu:hover {
	opacity: 100%;
}

#mainSpecialMenu {
	height: 75%;
}

img.menuMXTickets {
	height: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

img.menuMXTickets2 {
	height: 45%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

img.menuDetectivesTickets {
	height: 19%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#specialTicketsUL {
	/* transform: rotate(-90deg) translateY(15px); */
}
div#divSpecialTickets {
	float: right;
}

#chatField {
	overflow: auto;
}

#messagesUL {
	padding: 2px;
}

.message {
	padding: 1px;
	margin: 1px;
}

.text {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12pt;
	color: #999;
	word-wrap: break-word;
	background-color: #2F4F4F;
	border: 2px solid #2F4F4F;
	border-radius: 0 8px 8px 8px;
}

.author {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 10pt;
}

