{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %} {% trans "Log in" %} {% endblock %}

{% block content %}

<h1>{% trans "Log in" %}</h1>

{% get_providers as socialaccount_providers %}

<form class="login second_column" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">{% trans "Log in" %}</button>
  <div>
      <a class="button secondaryAction" style="font-size: small" href="{% url 'account_reset_password' %}">Забыли пароль?</a>
  </div>
</form>

{% if socialaccount_providers %}
<p> Вы можете войти через другие аккаунты:</p>
<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
		<li><a title="VK" class="socialaccount_provider vk" href="{% provider_login_url "vk" method="oauth2" %}"><i class="fab fa-vk"></i></a></li>
		<li><a title="GitLab" class="socialaccount_provider gitlab" href="{% provider_login_url "gitlab" method="oauth2" %}"><i class="fab fa-gitlab"></i></a></li>
		<li><a title="GitHub" class="socialaccount_provider github" href="{% provider_login_url "github" method="oauth2" %}"><i class="fab fa-github"></i></a></li>
    {# {% include "socialaccount/snippets/provider_list.html" with process="login" %} #}
  </ul>
</div>
<p> или <a href="{{ signup_url }}">зарегистрироваться</a>.

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>Если у Вас нет аккаунта, пожалуйста, сначала
<a href="{{ signup_url }}">зарегистрируйтесь</a>.</p>
{% endif %}


{% endblock %}
