{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block content %}
<h1>{% trans "Log out" %}</h1>

<p>Вы уверены, что хотите выйти?</p>

<div class="second_column">
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans "Log out" %}</button>
</form>
</div>

{% endblock %}
