{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Signup" %}</h1>

<p>Уже зарегистрированы? Тогда, пожалуйста, <a href="{{ login_url }}">войдите</a>.</p>

<form class="signup second_column" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Signup" %} &raquo;</button>
</form>

{% endblock %}
