<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Полные правила</title>
        {% load static %}
        <link rel='stylesheet' href='/static/rules/rulesStyle.css'>

    </head>
    
    <body>
        <h1>Правила игры Мистер Х</h1>
        <h2>Базовые правила</h2>
        <p>Мистер Х выполняет секретное задание. Через всю Европу за ним cледуют пять детективов. Успеет ли мистер Х выполнить свое задание? Погоня начинается...</p>
        <p>Мистер Х побеждает, если добирается до любого из пунктов назначения. Детективы играют командой и, чтобы победить должна оказаться в одном городе с мистером Х.</p>
        <h4>Игровое поле</h4>
         <img src='/static/rules/img/ex2.png' alt='Примеры городов' align='right' height='70px'>
        <p>Игровое поле состоит из 199 городов Европы, соединенных линиями трех разных цветов. Цвета соответствуют разным видам транспорта: бежевый = автомобили, красный = поезда/пароходы, голубой = самолеты. Фишки игроков могут перемещаться по линиям разных цветов в зависимости от использованных билетов.</p>
        <h4>Билеты</h4>
        <img class='ticket' src='/static/rules/img/ex1.png' alt='Пример билета' align='right'>
        <p>Каждый билет состоит из двух частей: вид транспорта (верхняя часть) и специального действия (нижняя часть).</p>
        <p>Билет можно использовать для поездки или для специального действия. Использовать транспорт могут и мистер Х и детективы, вне зависимости от специального действия. Специальные действия синего цвета использует мистер Х, оранжевого - детективы.<p>
        <h4>Изначальные условия</h4>
        <p>Мистер Х получает 8 билетов. Игроки, выполняющие роль детективов, получают (4 + количество детективов) билетов.</p>
        <p>Стартовый город детектива определяется случайным выбором из некоторого набора.</p>
        <p>Определяется задание для мистера Х (зеленое - для новичков, желтое - для опытных игроков или оранжевое - для экспертов). Стартовые города обведены соответствующим цветом, как и города назначения. </p>
        <h4>Как играть</h4>
        <p>Мистер Х начинает каждый ход. Затем ходы делают детективы в произвольном порядке. После этого проверяются позиции игроков.</p>
        <h3>Подробности игры</h3>
        <h4><i>Мистер Х</i></h4>
        <ol type='1'>
            <li>
                <h4><i>Перемещение</i></h4>
                <p>Если мистер Х  решает двигаться, он  выбирает один из  своих билетов, которые можно использовать в городе, в котором он находится, и “перемещается” в выбранный город. Выбранный билет меняется на новый. </p>
                <p>
                <i><b>Примечание: </b></i>Фишка мистера Х используется  только до 25-го хода (см. “Конец игры”).</p>
                <p>
                <i><b>Внимание: </b></i>Мистер Х может проводить специальные действия с первого хода!</p>
                <p>
                <i><b>Важно: </b></i>Для мистера Х полезно использовать специальные действия с самого начала игры и как можно чаще - даже если детективы пока далеко.</p>
            </li>
            <li>
            <h4><i>Специальное действие</i></h4>
            <p>Вместо обычного движения мистер Х может выполнить специальное действие: двойное движение или найная поездка.</p>
            
                <ol type='a'>
                <li><b>Двойное движение</b>
                <img class='special' src='/static/rules/img/double.png' alt='Двойное движение' align='right'>
                <p>Чтобы сделать двойное движение, мистер Х выбирает три билета со следами и использует их. Теперь мистер Х может сделать два движения по обычным правилам. Билеты появляются в строке поездок в таком порядке, к каком их использовал мистер Х. Проезжать город, в котором находится детектив недопустимо.</p>
                </li>
                <li><b>Тайная поездка</b>
                <img class='special' src='/static/rules/img/secret.png' alt='Тайная поездка' align='right'>
                <p>Если мистер Х хочет совершить тейную поездку, он использует три билета с силуэтом человека. Затем соверхает движение, но в строке поездок вид транспорта будет не определен. Билет не обязан совпадать с видом транспорта, который был использован на самом деле.</p>
                </li>
            
            </ol></li>
        <li>
        <h4><i>Сброс билетов</i></h4>
            <p>В конце своего хода мистер Х может сбросить любое количество своих неиспользованных билетов. Затем он получает недостающие до 8 билеты.</p>
            </li></ol>
        
        <h4><i>Детективы</i></h4>
        <ol>
            <p>После хода мистера Х настаёт очередь детективов. Они играют совместно против мистера Х. Поэтому детективы должны координировать свои передвижения друг с другом, особенно это касается их специальных действий.</p>
            <li><h4><i>Перемещение</i></h4>
                <p>За один ход каждый детектив должен переместится, используя один из своих билетов.</p>
                <p>Если игроку не хватает билетов для перемещения всех своих детективов, он должен переместить столько, сколько может.</p>
                <p>В одном городе не может находиться несколько детективов.</p>
            </li>
            <li>
                <h4><i>Специальные действия</i></h4>
                
                <p>После того, как все детективы совершили движение, они могут дополнительно совершить специальное действие. Чтобы совершить его, детективы должны иметь определённое количество билетов со специальными символами. Использовать можно только билеты, оставшиеся после движения. Для совершения специального действия каждый игрок может предоставить лишь столько билетов, сколько у него имеется детективов.</p>
                <i><b>Внимание! </b></i>
                <p>Детективы не могут совершать специальные действия до 5 хода.</p>
                <ol type='a'>
                    <li>
                        <h4><i>Расследование</i></h4>
                        <img class='special' src='/static/rules/img/search.png' alt='Расследование' align='right'>
                        <p>Билеты со значком лупы позволяют детективам узнать города, в которых побывал мистер Х - в зависимости от числа билетов.</p>
                        <table border='2px'>
                            <tr>
                                <th>Число сыгранных луп</th>
                                <th>Эффект</th>
                            </tr>
                            <tr><td>3</td><td>Мистер Х показывает свое положение 4 хода назад</td></tr>
                            <tr><td>4</td><td>Мистер Х показывает свое положение 3 хода назад</td></tr>
                            <tr><td>5</td><td>Мистер Х показывает свое положение 2 хода назад</td></tr>
                        </table>
                        <p>Выбранный город записывается в таблицу улик.</p>
                    </li>
                    <li>
                        <h4><i>Спецоперация</i></h4>
                        <img class='special' src='/static/rules/img/addition.png' alt='Спецоперация' align='right'>
                        <p>Билеты с маячком позволяют одному из детективов сделать дополнительное движение, вид транспорта зависит от числа билетов.</p>
                        <table border='2px'>
                            <tr>
                                <th>Число сыгранных маячков</th>
                                <th>Эффект</th>
                            </tr>
                            <tr><td>3</td><td>1 перемещение на автомобиле</td></tr>
                            <tr><td>4</td><td>1 перемещение на поезде/пароходе</td></tr>
                            <tr><td>5</td><td>1 перемещение на самолете</td></tr>
                        </table>
                    </li>
                </ol>
            </li>
            <li>
                <h4><i>Сброс билетов</i></h4>
                <p>В конце своего хода, то есть после специального действия, детективы могут сбросить любое число своих карт, после чего обновить свои карты до нужного числа (4 + число детективов у игрока).
            </li>
        </ol>
        <h3>Проверка позиций игроков</h3>
        <p>В конце каждого хода происходит проверка позиций игроков. Если во время хода любой детектив оказался в городе, где находился мистер Х в последние 5 ходов, они отмечаютя в таблице улик.</p>
        <p>Если какой-либо детектив оказывается в городе, в котором в данный момент находится мистер Х, он сразу же проигрывает игру! Если несколько детективов переместились в города, в которых бывал мистер Х в последние 5 ходов, все они отмечаются в таблице улик.</p>
        <h3>Конец игры</h3>
        <p>Игра заканчивается, если мистер Х оказывается в одном городе с каким-либо детективом или если мистер Х добирается до своей цели - одного из городов на противоположном конце Европы, отмеченном кольцом цвета задания, которое в начале игры выбрал мистер Х. В первом случае выигрывают детективы, во втором - мистер Х.</p>
        <p>Однако на выполнение задания у мистера Х есть только 24 тайных хода. Если за это время он не успел добраться до цели, игра продолжается, но мистер Х делает свои перемещения явным способом (положение мистера Х выводится в таблице улик сразу после его хода).</p>
    </body>
</html>
