<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Спецальные действия</title>
		{% load static %}
		<link rel='stylesheet' href='/static/rules/rulesStyle.css'>

	</head>

	<body>
		<h1>Специальные действия</h1>
		Каждая команда может совершать специальные действия. Мистер Х совершает их вместо обычного перемещения, а детективы сначала обязаны подвинуть все фигурки (или максимально возможное количество, если на всех билетов не хватает), а потом использовать специальное действие. Еще у детективов есть ограничение: пока Мистер Х не использует 5 билетов, они не могут совершать специальные действия.
		<h2>Мистер Х</h2>
		Для Мистера Х актуальны только билеты с изображением специального действия на синем фоне.
		<h3>Секретный ход</h3>
		Для активации нужно три билета с символом человечка на синем фоне.
		Алгоритм совершения секретного хода:
		<ul>
			<li>Кликнуть по очереди  на три билета с нужным символом. Билеты должны стать полупрозрачными с зеленой рамкой.
				<img class='fullImg' src='/static/rules/img/secret_step_1.png' alt='Пример секретного хода'>
			</li>
			<li>
				Отрыть меню специальных действий, нажав кнопку "Открыть меню", и там нажать на знак секретного хода. Билеты должны поменять цвет рамки на красный, если все действия допустимы.
				<img class='fullImg' src='/static/rules/img/secret_step_2.png' alt='Пример секретного хода'>
			</li>
			<li>
				После нажатия на знак секретного хода, меню должно скрыться, а рядом с кнопкой "Открыть меню" появится вспомогательное сообщение.
				<img class='fullImg' src='/static/rules/img/secret_step_3.png' alt='Пример секретного хода'>
			</li>
			<li>
				Теперь нужно выбрать билет для перемещения и передвинуть Мистера Х.
				<img class='fullImg' src='/static/rules/img/secret_step_4.png' alt='Пример секретного хода'>
			</li>
			<li>
				Если перемещение успешно, Мистер Х окажется в нужном городе, потраченные билеты исчезнут, в таблице потраченных билетов появится знак Х вместо потраченного билета. Иначе все билеты будут возвращены, Мистер Х останется в исходном городе.
				<img class='fullImg' src='/static/rules/img/secret_step_5.png' alt='Пример секретного хода'>
			</li>
		</ul>

		<h3>Двойной ход</h3>
		Для активации нужно три билета с символом следов на синем фоне.
		Алгоритм совершения двойного хода:
		<ul>
			<li>
				Выбрать три билета со следами, затем открыть меню специальных действий и нажать на соответствующий символ.
				<img class='fullImg' src='/static/rules/img/double_step_1.png' alt='Пример двойного хода'>
			</li>
			<li>Появится вспомогательное сообщение рядом с кнопкой "Открыть меню". Теперь нужно по очереди два раза выбрать один еще не использованный билет (без красной рамки) и переместить Мистера Х.

				<img class='fullImg' src='/static/rules/img/double_step_2.png' alt='Пример двойного хода'>
				<img class='fullImg' src='/static/rules/img/double_step_3.png' alt='Пример двойного хода'>
			</li>
			<li>Если все действия были совершены корректно, Мистер Х переместиться в нужный город, все билеты с красной рамкой исчезнут, а в таблице ходов появятся два потраченных билета.
				<img class='fullImg' src='/static/rules/img/double_step_4.png' alt='Пример двойного хода'></li>
		</ul>
		<h3>Комбинация двойного и секретного</h3>
		Если одновременно выбрать 6 билетов: 3 для секретного хода и 3 для двойного, то в меню можно будет выбрать один из двух возможных ходов. 
		Если выбрать первый, то будет двойной ход, при этом первый билет будет секретным, а если второй, то второй билет будет секретным.
				<img class='fullImg' src='/static/rules/img/combo_1.png' alt='Пример комбинированного хода'>
		<h2>Детективы</h2>
		Детективы могут совершать специальные действия только  после того, как в таблице ходов Мистера Х будет хотя бы 5 билетов. Этот момент отмечен зеленой цифрой 5. Для специального действия детективы могут набирать билеты вместе, причем каждый игрок не может дать больше билетов, чем у него фигурок детективов (то есть количества цветов).
		<p>Общая схема специальных действий детективов: один из игроков открывает меню специальных действий и выбирает там нужное действие</p> 
				<img class='fullImg' src='/static/rules/img/addition_1.png' alt='Пример дополнительного хода'>
				<p>После этого остальные могут открыть меню у себя, выбрать то же действие.</p> 
				<p> Теперь игроки могут добавлять свои билеты в окно в меню: для этого нужно выбрать один или больше своих билетов и нажать кнопку "Добавить билеты".</p> 
				<img class='fullImg' src='/static/rules/img/addition_2.png' alt='Пример дополнительного хода'>
				<p>Когда наберется нужное число билетов (можно посмотреть <a href="/shortRules">здесь</a>), нужно нажать кнопку "Использовать".</p>
				<img class='fullImg' src='/static/rules/img/addition_3.png' alt='Пример дополнительного хода'>

		<h3>Дополнительное перемещение</h3>
		После того, как была нажата кнопка "Использовать", меню скроется, и нужно переместить любого из своих детективов с помощью выбранного в меню транспорта. Дополнительно появится сообщение о том, какой именно был выбран транспорт.
				<img class='fullImg' src='/static/rules/img/addition_4.png' alt='Пример дополнительного хода'>

		<h3>Получение улики</h3>
		После того, как была нажата кнопка "Использовать", если количество совпадает с требуемым, появится новая улика в таблице улик.
	</body>
</html>
