body {
	background: white url("/static/img/background.png") repeat-y;
	background-size: 100%;
	font-family: 'Ubuntu';
	font-size: 12pt;
}
.datetime {
	font-size: 12pt;
}

.second_div{
	margin-left: 15px;
}

.third_div{
	margin-left: 15px;
}

h1 {
	margin: 25px;
	font-family: 'Trebuchet MS';
	color: darkorange;
}

button {
	height: 25px;
	border-radius: 3px;
	border: 1px solid ;
}

input {
	height: 25px;
	border-radius: 3px;
	border: 1px solid ;
	padding: 1px 5px;

}

.second_column input {
	left: 40%;
	position: absolute;
}

input[type="checkbox"] {
	height: auto;
}

label{
	font-weight: bold;
}

#container{
	margin: auto;
	margin-top: 10px;
	width: 500px;
	box-sizing: content-box;
	position: relative;
	border: 10px solid #999999;
	border-radius: 10px;
	background: #dddddd;
	padding: 10px;
}


#games{
	width: 500px;
}
ul.errorList {
	color: red;
}

ul.socialaccount_providers li {
	display: inline;
	padding: 3px;
	margin: 5px;
}

.insideContainer {
	text-align: center;
}
table.insideContainer {
	margin: auto;
}

a.socialaccount_provider {
	background-color: none;
	padding: 5px;
	border-radius: 3px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 11pt;
	color: black;
	text-decoration: none;
}

ul.errorlist li {
	list-style-type: none;
	font-family: 'Calibri', sans-serif;
	font-size: 10pt;
	color: crimson;
}

ul.errorlist {
	margin-top: 20px;
}

.optionsAccount {
	background-color: white;
	padding: 5px;
	border-radius: 3px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 11pt;
	color: black;
	text-decoration: none;
	margin: auto;
}

.pOptions {
	text-align: center;
}

