<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% load i18n %}
		<link rel="shortcut icon" href="{% static 'img/mx.png' %}" type="image/png">
		<link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}" />
		<meta charset="UTF-8">
		<title>{{ tag_new_game }}</title>
	</head>
	<body>
		<ul class="navbar">
			<li class="navbar"><a href="/">{{ tag_home }}</a></li>
			<li class="navbar"><a class="active" href="/games">{{ tag_games }}</a></li>
			<li class="navbar"><a href="/accounts/profile">{{ tag_profile }}</a></li>
			<li class="navbar"><a href="/accounts/logout">{% trans "Log out" %}</a></li>
		</ul>


		<div id="container">
			<h3>{{ tag_new_game }}</h3>
			<form action="" method="post">
				{% csrf_token %}
				<div class="second_div second_column">
					<div >
						<p>
							{{ tag_game_title }}
							{{form.game_name}}
						</p>
						<p>
							{{ tag_numbers }}
							{{form.max_count_players}}
						</p>
					</div>
				</div>
					<hr>

				<button type="submit">{{ tag_create }}</button>
				<button type="reset">{{ tag_reset }}</button>
			</form>
		</div>
	</body>
</html>
