<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{% load static %}
		{% load i18n %}
		<title>{{ tag_detail }}</title>
		<link rel="shortcut icon" href="{% static 'img/mx.png' %}" type="image/png">
		<link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}" />
	</head>
	<body>
		<h1>{{ tag_detail }}</h1>
		<ul class="navbar">
			<li class="navbar"><a href="/">{{ tag_home }}</a></li>
			<li class="navbar"><a class="active" href="/games">{{ tag_games }}</a></li>
			<li class="navbar"><a href="/accounts/profile">{{ tag_profile }}</a></li>
			<li class="navbar"><a href="/accounts/logout">{% trans "Log out" %}</a></li>
		</ul>
		<div id="container">
			<h1>{{game.game_name}}</h1>
			<p> {{ tag_created }}: {{game.create_date}}</p>
			<p> {{ tag_finished }}: {{game.finish_date}}</p>
			{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
			{% endif %}
			<p>{{ tag_number }}: {{game.count_gamers}}</p>
			<p>{{ tag_max }}: {{game.max_count_players}}</p>
			<hr>
			{% if game.can_gamers_add == True or request.user in game.gamers.all %}
			<a href="{% url 'games:setup' game.id %}">{{ tag_take_part }}</a>
			<p style="text-align: center; font-size: 11pt;">Принимая участие в игре, Вы подтверждаете, что прочитали <a href='/rules'>правила</a> и ознакомились с <a href='/specialActs'>инструкцией по специальным действиям</a>.</p>
			{% else %}
			<p>You will not be added to this game. </p>
			{% endif %}

			<hr>
			<script>
				function openRules(){
					window.open('/rules');
				}
				function openInstructions(){
					window.open('/specialActs');
				}
			</script>
			<p class='insideContainer'>
				<input type='button' onclick='openRules()' value='Правила игры'>
				<input type='button' onclick='openInstructions()' value='Справка по специальным действиям'>
			</p>
				<p style="text-align: center; font-size: 14pt;">Чтобы посмотреть номер города, нужно кликнуть рядом с ним!</p>
		</div>
	</body>
</html>
