<!DOCTYPE html>
<html>
<head>
    {% load static %}
		{% load i18n %}
    <meta charset="UTF-8">
		<link rel="shortcut icon" href="{% static 'img/mx.png' %}" type="image/png">
		<title>{{ tag_end }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}" />
</head>
<body>
	<h1>{{ tag_end }}</h1>
    <ul class="navbar">
				<li class="navbar"><a href="/">{{ tag_home }}</a></li>
				<li class="navbar"><a class="active" href="/games">{{ tag_games }}</a></li>
				<li class="navbar"><a href="/accounts/profile">{{ tag_profile }}</a></li>
				<li class="navbar"><a href="/accounts/logout">{% trans "Log out" %}</a></li>
    </ul>
    <div id="container">
        <h1>{{ game.game_name }}</h1>
				<p>{{ tag_finish }}<p>
				<h3>{{ tag_win }}  {{ win }}</h3>
				<p>{{ tag_position }} {{ city }}</p>
    </div>
</body>
</html>
