<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% load i18n %}
		<link rel="shortcut icon" href="{% static 'img/badger_icon.png' %}" type="image/png">
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- FontAwesome -->
		<script src="https://kit.fontawesome.com/49d11f2271.js"></script>
		<!-- Open Sans and Nanum -->
		<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<!-- PixiJS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>

		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

		<!-- Vue.js -->
		<!-- версия для разработки, отображает полезные предупреждения в консоли -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- production-версия, оптимизированная для размера и скорости -->
		{# <script src="https://cdn.jsdelivr.net/npm/vue"></script> #}

		<!-- styles -->
		<link rel='stylesheet' type="text/css" href="{% static 'gameField/map/gameFieldStyles.css' %}">
		<link rel='stylesheet' type="text/css" href="{% static 'gameField/map/navbar_styles.css' %}">
		<link rel='stylesheet' type="text/css" href="{% static 'gameField/map/preload.css' %}">
		<title>Mr. X {{game.name}}</title>

		{% csrf_token %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</head>
	<body onkeydown="sendMsg(event)" id='gameScene'>
		<div id="p_prldr">
			<img id='badger' class='rotate' src="{% static 'gameField/map/badger_lite.png' %}">
			<div class="contpre">
				<br>{{ tag_waiting }}...<br><small>{{tag_upload}}</small>
			</div>
		</div>
		<script type="text/javascript">
			$(window).on('load', function () {
				var $preloader = $('#p_prldr'),
					$svg_anm   = $preloader.find('.svg_anm');
				$svg_anm.fadeOut();
				$preloader.delay(50).fadeOut('slow');
			});
		</script>

		<div class="container-fuild">
			<div class="row">
				<div class="col-md" id="statusBar">
					<a style="color: #005faf" href="{% url 'games:index' %}">{{ tag_back }}</a>
					|
					<a target="_blank" style="color: #005faf" href="/shortRules/" title="Полезная информация">{{tag_rules}}</a>
					|
					{{ tag_mx_color }}: <i id="colorMisterX"></i>
					|
					{{ tag_colors }}: <i id="yourColors"></i>
					|
					{{ tag_role }} <i id='yourRole'></i>
					|
					{{ tag_queue }}: <i id='queue'></i>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="gameField" id="stepsOfMisterx">
						<div class="titleOfField">
							<h6 class="titleOfField">{{ tag_steps }}</h6>
						</div>
					</div>
					<div class="gameField" id="extremalAdditionalDiv">
						<div class="titleOfField">
							<h6 class="titleOfField">{{ tag_add }}</h6>
						</div>
						<div id="additionalTabs" class="radio-container">
							<div class="form-item radio-btn nth-2">
								<input type="radio" name="additionField" id="evidences" checked>
								<label class="addFieldTab" id="evidencesTab" for="evidences">{{ tag_evidences }}</label>
							</div>
							<div class="form-item radio-btn nth-2">
								<input type="radio" name="additionField" id="chat">
								<label class="addFieldTab" id="chatTab" for="chat">{{ tag_chat }} </label>
							</div>
						</div>
						<div id="evidencesField" class="additionalField">
							<table id="evidencesTable" border='1'>
								<tr><th>{{ tag_step }}</th><th>{{ tag_city }}</th></tr>
							</table>
						</div>
						<div id="chatField" class="additionalField">
							<ul id="messagesUL">
								<li type='none'
						v-for="msg in chat"
			v-bind:class="msg.class">
									<div class="message">
										<div class="author"> [[ msg.author ]] </div>
										<div class="text"> [[ msg.text ]] </div>
									</div>
								</li>
							</ul>
							<p><textarea id="messageTextArea" spellcheck cols="28" rows="2"></textarea></p>
							<input style='padding: 3px 30px' type="submit" value="Отправить (Enter)" class="userButton" onclick="sendMessage()">
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="gameField" id="fieldOfMap">
						<div class="titleOfField">
							<h6 class="titleOfField">{{ tag_map }}</h6>
						</div>
					</div>
				</div>
				<div class="col-md-1">
					<div class="gameField" id="ticketsOfPlayer">
						<div class="titleOfField">
							<h6 class="titleOfField">{{ tag_tickets }}</h6>
						</div>
						<div id="divButtons">
							<input id="removeTickets" type="button" class="userButtons" value="{{ tag_del }}" onclick="deleteCheckingTickets()">
							<input id="compliteCourse" type="button" class="userButtons" value="{{ tag_complete }}" onclick="remakeTickets()">
						</div>
						<div id="divTickets">
							<ul id="ticketsUL" class="ticketsField">
								<li type='none' class='ticketsLI'
						v-for="(ticket, index) in playerTickets"
			v-bind:id="'ticket' + index">
									<img v-if="ticket.name"
							:height='ticketHeight'
							:width='ticketWidth'
							:id="ticket.name"
							v-on:click="clickTicket"
							:src='ticket.src'
							:alt="ticket.name"
							>
								</li>
							</ul>
						</div>

					</div>
					<div class="gameField" id="specialActs">
						<div class="titleOfField">
							<h6 class="titleOfField">{{ tag_special }}</h6>
						</div>
						<div id="specialActInterfaceDiv">
							<div id="specialMenuHelp" style='text-align:center;'>[[ text ]]</div>
							<div id="specialButtonsDiv">
								<input class='userButtons' type='button' value='{{ tag_acts }}' name='Acts' onclick="menu.open()" id="specialMenuCancel">
								<input class="userButtons" type="button" value="{{ tag_cancel }}" name="Cancel" onclick="menu.close()" id="specialMenuCancel"/>
							</div>
						</div>
						<script>
							var appSpecialActs = new Vue({
								delimiters: ['[[', ']]'],
								el: "#specialActInterfaceDiv",
								data: {
									text: '',
								}
							})
						</script>
					</div>
				</div>

			</div>
		</div>
		<div id="specialMenu">
			<div class="titleOfField">
				<h6 class="titleOfField">{{ tag_menu }}</h6>
			</div>
			<div id="mainSpecialMenu"></div>
		</div>
		<script>
			var csrftoken = $("[name=csrfmiddlewaretoken]").val();
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});

			{# Переключение табов additionalField #}
			$('.addFieldTab').click(function(eventObject){
				tabId = eventObject.target.id;
				fieldId = '#' + String(tabId.slice(0, -3)) + 'Field';
				$(".additionalField").hide();
				$(fieldId).show()
			});


			function getPlayerRole() {
				var jq = $.ajax({
					url: "ajax/get_role/",
					async: false,
				});
				jq.done( function(data){
					{# console.log("getPlayerRole", data); #}
					document.roleGamer = data["role"];
					document.getElementById("yourRole").innerHTML = data["role"];
					$('#'+"yourRole").css('color', tableColorPlayerRole[data["role"]]);
					return data["role"];
				});
			}

			function getColorMisterX() {
				$.get("ajax/get_color_misterx", function (data) {
					document.colorMisterX = data['color_misterx'];
					document.getElementById('colorMisterX').innerHTML = data['color_misterx'];
					$('#'+"colorMisterX").css('color', tableColorMisterX[data["color_misterx"]]);
				})
			}

			function getQueue() {
				$.get("ajax/get_queue/", function (data){
					document.queueRole = data["queue"];
					document.getElementById("queue").innerHTML = data["queue"];
					$('#'+"queue").css('color', tableColorQueue[data["queue"]]);
				})
			}

			function getPlayerTickets(){
				var jq = $.ajax({
					url: "ajax/get_tickets/",
					async: false,
				});
				jq.done(function(data) {
					document.playerTickets = data["tickets"].split(",");
				});
				return document.playerTickets;
			}

			function getSteps() {
				var jq = $.ajax({
					url: "ajax/get_steps_of_misterx/",
					async: false,
				});
				jq.done( function (data) {
					console.log(data);
					document.stepsOfMisterX = data["steps"];
					document.countStepsOfMisterX = data["count"];
				});
				return document.stepsOfMisterX;
			}

			function getPositions() {
				var jq = $.ajax({
					url: "ajax/get_positions/",
					async: false,
				});
				jq.done( function (data) {
					document.positions = data;
				});
				return document.positions;
			}

			function getEvidences() {
				var res;
				var jq = $.ajax({
					method: "get",
					url: "ajax/get_evidences/",
					async: false,
				});
				jq.done( function (data) {
					res = data['evidences'];
				});
				return res;
			}

			function getColors() {
				var jq = $.ajax({
					method: "get",
					url: "ajax/get_colors/",
					async: true,
				});
				jq.done( function (data) {
					inner = "";
					colors = data["colors"].split(", ");
					for (var i=0; i<colors.length; i++) {
						inner += "<span style='color: " + tableColorFigure[colors[i]] + "'> <i class='fas fa-user'></i> </span>";
					}
					$("#"+"yourColors").html(inner);
				});
			}

			function checkMovePlayer(cities, dragTickets, color, specialAct) {
				var res = {"result": false, "res_city": 0, "res_tickets": []};
				if (specialAct != undefined) {
					specialAct = specialAct.join(',');
				}
				var data = {"color": color, "drag": dragTickets.join(','), "special_acts": specialAct};
				if (cities.length == 3) {
					data["city1"] = cities[0];
					data["city2"] = cities[1];
					data["city3"] = cities[2];
				}
				else if (cities.length == 2) {
					data["start"] = cities[0];
					data["end"] = cities[1];
				}

				var jq = $.ajax({
					method: "post",
					url: "ajax/check_move_player/",
					data: data,
					async: false,
				});
				jq.done( function (data) {
					res["result"] = data["result"];
					res["res_city"] = data["res_city"];
					res["res_tickets"] = data["res_tickets"];
				});
				return res;
			}

			function removeTickets(tickets) {
				var res = [];
				var jq = $.ajax({
					method: "post",
					url: "ajax/remove_tickets/",
					data: {
						"tickets": tickets.join(',')
					},
					async: false,
				});
				jq.done( function (data) {
					res = data["res_tickets"].split(',');
					console.log(res);
				});
				return res;
			}

			function compliteCourse() {
				var res;
				var jq = $.ajax({
					method: "get",
					url: "ajax/complite_course/",
					async: false,
				});
				jq.done( function (data) {
					res = data['tickets'].split(',');
				});
				return res;
			}

			function checkEnd() {
				var res;
				var jq = $.ajax({
					method: "get",
					url: "ajax/check_end/",
					async: false,
				});
				jq.done( function (data) {
					if (data["win"] == 'detectives') {
						alert("Detectives win!\n MisterX city - "+data['position']);
						window.location.href = "{% url 'games:end_game' game.id %}";
					}
					else if (data['win'] == 'misterx') {
						alert("MisterX win!\n MisterX city - "+data['position']);
						window.location.href = "{% url 'games:end_game' game.id %}";
					}
				});
			}

			function checkSecretStep(city) {
				let res = false;
				if (document.canvasTickets.dragTickets.length != 1) {
					return false;
				}
				let data = {
					"special_tickets": menu.specialTickets.join(','),
					"ticket": document.canvasTickets.dragTickets[0],
					"city": city
				};
				let jq = $.ajax({
					method: "post",
					url: "ajax/secret_step/",
					data: data,
					async: false,
				});
				jq.done( function (data) {
					res = data["result"]
				});
				return res;
			}

			function checkDoubleStep() {
				let res = false;
				let data = {
					"special_tickets": menu.specialTickets.join(','),
					"ticket1": document.doubleTickets[0],
					"ticket2": document.doubleTickets[1],
					"city1": document.doublePath[1],
					"city2": document.doublePath[2],
					"mode": document.doubleStepType
				};
				let jq = $.ajax({
					method: "post",
					url: "ajax/double_step/",
					data: data,
					async: false,
				});
				jq.done( function (data) {
					res = data["result"]
				});
				return res;
			}

			function addTicketsForSpecialAct() {
				let res = false;
				let data = {
					"tickets": document.canvasTickets.dragTickets.join(','),
					"type_of_action": menu.type_of_action,
				};
				let jq = $.ajax({
					method: "post",
					url: "ajax/add_special_tickets/",
					data: data,
					async: false,
				});
				jq.done( function (data) {
					res = data["result"]
					console.log("TICKETS RES", res)
				});
				return res;
			}

			function getSpecialTickets() {
				let res = [];
				let jq = $.ajax({
					method: "get",
					url: "ajax/get_special_tickets/",
					async: false,
				});
				jq.done( function (data) {
					console.info('Special TICKETS', data);
					res = data['tickets_for_special_act'].split(',');
					if (res.length == 0) {
						res = [];
					}
				});
				return res;
			}

			function clearTicketsForSpecialAct() {
				let res = false;
				let jq = $.ajax({
					method: "post",
					url: "ajax/clear_special_tickets/",
					async: true,
				});
			}

			function checkEvidenceStep() {
				let res = false;
				let data = {};
				let jq = $.ajax({
					method: "post",
					url: "ajax/search_step/",
					data: data,
					async: false,
				});
				jq.done( function (data) {
					res = data["result"]
				});
				return res;
			}

			function checkAdditionStep(city, color) {
				let res = false;
				let data = {
					'city': city,
					'color': color,
				};
				let jq = $.ajax({
					method: "post",
					url: "ajax/addition_step/",
					data: data,
					async: false,
				});
				jq.done( function (data) {
					res = data["result"]
				});
				return res;
			}

			function getPossibleSteps() {
				let res = false;
				let jq = $.ajax({
					method: "get",
					url: "ajax/get_possible_steps/",
					async: false,
				});
				jq.done(function (data) {
					res = data["result"];
					console.info(data);
					if (document.roleGamer != document.queueRole) {
						alert("Сейчас не ваш ход");
					} else if (res) {
						alert("Еще не походили: " + data["can_move"].join(', '));
					}
				});
				return res;
			}

			function getChat() {
				let res = [];
				let jq = $.ajax({
					method: "get",
					url: "ajax/get_chat/",
					async: true,
				});
				jq.done(function (data) {
					function compare(a, b) {
						if (a['date'] < b['date'])
											return -1;
											else if (a['date'] > b['date'])
							return 1;
						else
							return 0;
					}
					data.sort(compare);
					document.canvasChat.chat = data;
					console.log(data);
				});
				return res;
			}

			function sendMessage() {
				let area = $('#messageTextArea')[0];
				let text = area.value;
				if (text.length > 0) {
					let date = new Date();
					let string_date =
						date.getFullYear() + '.' +
						date.getMonth() + '.' +
						date.getDay() + ' ' +
						date.getHours() + ':' +
						date.getMinutes();
					let jq = $.ajax({
						method: "post",
						url: "ajax/add_message/",
						data: {'text': text, 'time': string_date},
						async: true,
					});
					jq.done(function (data) {
						if (data['res']) {
							document.canvasChat.chat = data['chat'];
							area.value = "";
						}
					});
				}
			}

			function sendMsg(ev) {
				var e = window.event || ev, K = e.keyCode;
				if (K == 13)
					sendMessage()
			}

			function poll() {
				checkEnd();
				updateMisterXTickets();
				updatePositions();
				updateQueue();
				updateEvidences();
				standartUpdateTickets();
				updateSpecialTickets();
				getChat();

				setTimeout(poll, 3500);
			}


		</script>
		<script src="{% static 'gameField/js/countTicketsData.js' %}"></script>
		<script src="{% static 'gameField/js/startCitiesData.js' %}"></script>
		<script src="{% static 'gameField/js/citiesData.js' %}"></script>
		<script src="{% static 'gameField/js/connectionsData.js' %}"></script>
		<script src="{% static 'gameField/js/tableColors.js' %}"></script>

		<script src="{% static 'gameField/js/testToMove.js' %}"></script>
		<script src="{% static 'gameField/js/funcTicket.js' %}"></script>
		<script src="{% static 'gameField/js/deleteTicket.js' %}"></script>
		<script src="{% static 'gameField/js/movePlayers.js' %}"></script>
		<script src="{% static 'gameField/js/funcPlayers.js' %}"></script>
		<script src="{% static 'gameField/js/funcAct.js' %}"></script>
		<script src="{% static 'gameField/js/specialMenu.js' %}"></script>

		<script src="{% static 'gameField/js/updatePage.js' %}"></script>

		<script src="{% static 'gameField/js/resize.js'%}"></script>
		<script src="{% static 'gameField/js/designation.js'%}"></script>
		<script src="{% static 'gameField/js/createCanvasMisterXTickets.js' %}"></script>
		<script src="{% static 'gameField/js/createChat.js' %}"></script>
		<script src="{% static 'gameField/js/addMXTickets.js' %}"></script>
		<script src="{% static 'gameField/js/createCanvasTickets.js' %}"></script>
		<script src="{% static 'gameField/js/createCanvasSpecialTickets.js' %}"></script>
		<script src="{% static 'gameField/js/cityInfo.js' %}"></script>
		<script src="{% static 'gameField/js/createCanvasMap.js' %}"></script>
		<script src="{% static 'gameField/js/createPlayersOnMap.js' %}"></script>
		<script src="{% static 'gameField/js/createEvidences.js' %}"></script>

		<script src="{% static 'gameField/js/loaderImg.js' %}"></script>

	</body>
</html>
