<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{% load static %}
		{% load i18n %}
		<title>{{ tag_index }}</title>
		<link rel="shortcut icon" href="{% static 'img/mx.png' %}" type="image/png">
		<link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" >
		<link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'games/style_index.css' %}">
		<body>
			<h1>{{ tag_index }}</h1>
			<ul class="navbar">
				<li class="navbar"><a href="/">{{ tag_home }}</a></li>
				<li class="navbar"><a class="active" href="/games">{{ tag_games }}</a></li>
				<li class="navbar"><a href="/accounts/profile">{{ tag_profile }}</a></li>
				<li class="navbar"><a href="/accounts/logout">{% trans "Log out" %}</a></li>
			</ul>
			<div id="container">
				<h3>{{ tag_index }}</h3>
				<hr>
				<table class="games">
					<tr><td class="games">
							<a class="games" id="create_game" href="{% url 'games:create_game' %}">{{ tag_create }}</a>
						</td></tr>
				</table>
				<hr>
				{% if game_list %}
				<table class="games">
					{% for game in game_list %}
					<tr>
						<td class="games">
							<a href="{% url 'games:detail' game.id %}">{{ game.game_name }}</a>
						</td>
						<td class="games">
							{% if game.can_gamers_add == True %}
							<div class="status_game">..</div>
							{% else %}
							<div class="status_game">f</div>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>
				{% else %}
				<p>{{ tag_empty }}</p>
				{% endif %}

			</div>
		</body>
</html>
