<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% load i18n %}
		<link rel="shortcut icon" href="{% static 'img/mx.png' %}" type="image/png">
		<meta charset="UTF-8">
		<title>Setup game</title>
		{% block stylesheet %}
		<link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'games/style_setup.css' %}">
		{% endblock %}
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		{% csrf_token %}

	</head>
	<body onload="init()">
		<ul class="navbar">
			<li class="navbar"><a href="/">{{ tag_home }}</a></li>
			<li class="navbar"><a class="active" href="/games">{{ tag_games }}</a></li>
			<li class="navbar"><a href="/accounts/profile">{{ tag_profile }}</a></li>
			<li class="navbar"><a href="/accounts/logout">{% trans "Log out" %}</a></li>
		</ul>
		<div id="container">
			<h1>{{ game.game_name }}</h1>
			<hr>
			<div id="tableRole" class="second_div">
				<p>{{ tag_login }} <i style="color: #5faf00">{{request.user}}</i>.</p>
				{% if role == 'misterx' %}
				<p id="thColor"><b>{{ tag_color }}:</b>
					{% else %}
					<p id="thColor" hidden><b>{{ tag_color }}:</b>
						{% endif %}
						<select id='color_misterx'>
							{% for color, translate_color in colors %}
							{% if color_misterx == color %}
							<option id={{color}} seleted>{{ translate_color }}</option>
							{% else %}
							<option id={{color}}>{{ translate_color }}</option>
							{% endif %}
							{% endfor %}
						</select></p>

						<div class="third_div">
							<table id='table' class="gamers">
								<tr>
									<th>{{ tag_gamer }}</th><th>{{ tag_status }}</th><th>{{ tag_desire }}</th>
								</tr>
								{% for gamer in game.gamers.all %}
								<tr>
									<td class="gamers">{{gamer}}</td>
									<td id="gamer{{gamer.id}}" class="status">
										{% if gamer == request.user %}
										<select id="in_status">
											{% for opt in options %}
											<option id="{{ opt }}">{{ opt }}</option>
											{% endfor %}
										</select>
										{% else %}
											{% if gamer.gender == "woman" %}
												<i>{{ tag_not_ready_w }}</i>
											{% else %}
												<i>{{ tag_not_ready }}</i>
											{% endif %}
										{% endif %}
									</td>
									<td id="misterx{{gamer.id}}" class="misterx">
										{% if gamer == request.user %}
										<select id="in_want">
											<option id="No">{% trans "No" %}</option>
											<option id="Yes">{% trans "Yes" %}</option>
										</select>
										{% else %}
										<i>{% trans "No" %}</i>
										{% endif %}
									</td>
								</tr>

								{% endfor %}
							</table>
						</div>
			</div>
			<hr>
			<script>
				function openRules(){
					window.open('/rules');
				}
				function openInstructions(){
					window.open('/specialActs');
				}
			</script>
			<p class='insideContainer'>
				<input type='button' onclick='openRules()' value='Правила игры'>
				<input type='button' onclick='openInstructions()' value='Справка по специальным действиям'>
			</p>
		</div>
		{% block javascript %}
		<script>
			function init() {
				document.getElementById('{{color_misterx}}').selected = true;
			}
			var players = {{ players }};

			$(function (){
				var gamer_id = {{request.user.id}};
				var csrftoken = $("[name=csrfmiddlewaretoken]").val();
				function csrfSafeMethod(method) {
					// these HTTP methods do not require CSRF protection
					return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
				}
				$.ajaxSetup({
					beforeSend: function(xhr, settings) {
						if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					}
				});

				function addNewPlayer(player, usernames) {
					var username;
					for (p of usernames) {
						if (p[0] == player[0])
							username = p[1];
					}

					var resTag = `<tr>
					<td class='gamers'>${username}</td>
					<td id="gamer${player[0]}" class="status">
								<i>${player[1] ? (player[4] == 'woman' ? '{{ tag_ready_w }}' : '{{ tag_ready }}')
										: (player[4] == 'woman' ? '{{ tag_not_ready_w }}': '{{ tag_not_ready }}') }</i>
									</td>
									<td id="misterx${player[0]}" class="misterx">
										<i>${(player[2] == 'misterx' ? '{% trans "Yes" %}' : '{% trans "No" %}')}</i>
									</td>
								</tr>
				`
					$('#table').append(resTag);
					players.push(player[0]);
				};

				function poll() {
					$.get('ajax/status_gamers/', function(data){
						var countReady = 0;
						for(player of data.players) {
							if (players.indexOf(player[0]) == -1) {
								addNewPlayer(player, data.usernames);
							} else {
								if(player[1]) {
									console.info('#gamer' + player[0]);
									$('#gamer' + player[0]).html(
										(player[4] == 'woman' ? '{{ tag_ready_w }}' : '{{ tag_ready }}') +'!');
									countReady += 1;
								}
								if(player[2] == "misterx") {
									console.info('#misterx' + player[0]);
									$('#misterx' + player[0]).html('{% trans "Yes" %}');

									if (player[3] == true){
										document.getElementById("thColor").hidden = false;
									}
								}
							}
						}
						if (data.max_count == countReady){
							window.location.href = "{% url 'games:main' game.id %}";
						}
						else {
							setTimeout(poll, 5000);
						}


					});
				};
				poll();

				$("#in_status").on('change', function () {
					var status = $(this).val();
					$.post({
						url: 'ajax/status_gamers/',
						data: {
							'status': status,
						},
						dataType: 'json',
						success:
						function (data) {
							console.info('Success send status ready', data);
						}
					});
				});
				$("#in_want").on('change', function () {
					var status = $(this).val();
					$.post({
						url: 'ajax/status_gamers/',
						data: {
							'status': status,
						},
						dataType: 'json',
						success:
						function (data) {
							console.info("Success send status MX", data);
							if (data["role"] == true){
								document.getElementById("thColor").hidden = false;
							}
							else {
								$("#thColor").hidden = true;
							}
						}
					});
				});
				$("#color_misterx").on('change', function () {
					var color = $(this).val();
					console.log(color);
					$.post({
						url: 'ajax/color_misterx/',
						data: {
							'color': color,
						},
						dataType: 'json',
						success:
						function (data) {
							console.info('Success send color MX', data);
						}
					});
				});
			});
		</script>
		{% endblock %}
	</body>
</html>
