<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Настройки</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}"/>
	</head>
	<body>
		<h1>Профиль</h1>
		<ul class="navbar">
			<li class="navbar"><a href="/">Начало</i></i></a></li>
			<li class="navbar"><a href="/games">Игры</a></li>
			<li class="navbar"><a class="active" href="/accounts/profile">Профиль</a></li>
			<li class="navbar"><a href="/accounts/logout">Выйти</a></li>
		</ul>
		<div id="container">
			<form method="POST">
				{% csrf_token %}

				{{ form.as_p }}
				<input type="submit" value="Сохранить" >
			</form>
		<div>
	</body>
</html>
