<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/nav_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'global_style/global_style.css' %}"/>
</head>
<body>
    <h1>Профиль</h1>
    <ul class="navbar">
        <li class="navbar"><a href="/">Начало</i></i></a></li>
        <li class="navbar"><a href="/games">Игры</a></li>
        <li class="navbar"><a class="active" href="/accounts/profile">Профиль</a></li>
        <li class="navbar"><a href="/accounts/logout">Выйти</a></li>
    </ul>
    <div id="container">
			<p> Привет, {{ request.user.first_name }}!</p> 
			<p> Логин: {{ request.user.username }}.</p>
			 <p class='pOptions'>
				 <a class="optionsAccount" href="{% url 'account_email' %}">Изменить e-mail адрес</a>
				 <a class="optionsAccount" href="{% url 'account_change_password' %}">Изменить пароль</a>
				 <a class="optionsAccount" href="{% url 'account_reset_password' %}">Сбросить пароль</a></p>
				 {% if request.user.gender == "" %}
				 <p class="pOptions">
				 <a class="optionsAccount" href="/accounts/profile/settings_gender">Другие настройки</a>
				 </p>
				 {% endif %}
			 <h3>Активные игры</h3>
			 <ul>
				 {% for game in active_games %}
				 <li><a href="/games/{{ game.id }}">{{ game.game_name }}</a></li>
				 {% endfor %}
			 </ul>
			 <h3> Статистика </h3>
			 <table border='1' rules='rows' cellspacing="0" cellpadding="10">
				 <tr>
				 	<td>Всего игр</td>
					<td>{{ count_games }}</td>
				 </tr>
			 	<tr>
			 		<td>Количество побед</td> 
					<td>{{ count_win }}</td>
			 	</tr>
				<tr>
					<td>Количество игр за Мистера Х</td>
					<td>{{ count_misterx }}</td>
				</tr>
				<tr>
					<td>Количество игр за Детективов</td>
					<td>{{ count_detectives }}</td>
				</tr>
			 </table>
    </div>
</body>
</html>
