body {
    font-family: Calibri;
    background: rgba(0, 100, 100, 0.2);
	padding: 30px;
	width: 50%;
	position: relative;
	margin: auto;
}
.ticket {
    height: 140px; 
}
.special{
    height: 70px;
}
#detective {
    background-color: rgba(255, 135, 0, 1);
}
#misterx {
    background-color: rgba(90, 153, 218, 1);
}

#detective, #misterx {
    position: relative;
    padding: 15px;
	margin: 15px;
    width: 100%;    
}

.fullImg {
	width: 100%;
	align: center;
	margin: 15px;
}

.helpTable {
	width: 80%;
	border: 1px dotted;
}

.helpTable th {
	width: 50%;
}

tr {
	text-align: center;
}

p#links {
	text-align: center;
	margin: auto;
}

#links a {
	background-color: white;
    padding: 5px;
    border-radius: 3px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 11pt;
    color: black;
}

